In [1]:
import pandas as pd

C:\Users\jprin\AppData\Local\Temp\ipykernel_33716\217833862.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df1 = pd.read_csv('202501_CombinedData.csv')
df2 = pd.read_csv('202502_CombinedData.csv')
df3 = pd.read_csv('202503_CombinedData.csv')
df4 = pd.read_csv('202504_CombinedData.csv')
print(df1.info())
print(df1.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51750 entries, 0 to 51749
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   visibility           51701 non-null  float64
 1   datetime             51750 non-null  object
 2   main.temp            51750 non-null  float64
 3   main.feels_like      51750 non-null  float64
 4   main.temp_min        51750 non-null  float64
 5   main.temp_max        51750 non-null  float64
 6   main.pressure        51750 non-null  float64
 7   main.humidity        51750 non-null  float64
 8   main.sea_level       51750 non-null  float64
 9   main.grnd_level      51750 non-null  float64
 10  wind.speed           51750 non-null  float64
 11  wind.deg             51750 non-null  float64
 12  wind.gust            45923 non-null  float64
 13  clouds.all           51750 non-null  float64
 14  sys.sunrise          51750 non-null  object
 15  sys.sunset           51750 non-null  object
 16  weather.main         51750 non-null  object
 17  weather.description  51750 non-null  object
 18  city_name            51750 non-null  object
 19  rain.1h              3236 non-null   float64
dtypes: float64(14), object(6)
memory usage: 7.9+ MB
None
(51750, 20)

In [6]:
print(df2.info())
print(df2.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53166 entries, 0 to 53165
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   visibility           53086 non-null  float64
 1   datetime             53166 non-null  object
 2   main.temp            53166 non-null  float64
 3   main.feels_like      53166 non-null  float64
 4   main.temp_min        53166 non-null  float64
 5   main.temp_max        53166 non-null  float64
 6   main.pressure        53166 non-null  float64
 7   main.humidity        53166 non-null  float64
 8   main.sea_level       53166 non-null  float64
 9   main.grnd_level      53166 non-null  float64
 10  wind.speed           53166 non-null  float64
 11  wind.deg             53166 non-null  float64
 12  wind.gust            46969 non-null  float64
 13  clouds.all           53166 non-null  float64
 14  sys.sunrise          53166 non-null  object
 15  sys.sunset           53166 non-null  object
 16  weather.main         53166 non-null  object
 17  weather.description  53166 non-null  object
 18  city_name            53166 non-null  object
 19  rain.1h              4812 non-null   float64
dtypes: float64(14), object(6)
memory usage: 8.1+ MB
None
(53166, 20)

In [7]:
print(df3.info())
print(df3.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82807 entries, 0 to 82806
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   visibility           82750 non-null  float64
 1   datetime             82807 non-null  object
 2   main.temp            82807 non-null  float64
 3   main.feels_like      82807 non-null  float64
 4   main.temp_min        82807 non-null  float64
 5   main.temp_max        82807 non-null  float64
 6   main.pressure        82807 non-null  float64
 7   main.humidity        82807 non-null  float64
 8   main.sea_level       82807 non-null  float64
 9   main.grnd_level      82807 non-null  float64
 10  wind.speed           82807 non-null  float64
 11  wind.deg             82807 non-null  float64
 12  wind.gust            71044 non-null  float64
 13  clouds.all           82807 non-null  float64
 14  sys.sunrise          82807 non-null  object
 15  sys.sunset           82807 non-null  object
 16  weather.main         82807 non-null  object
 17  weather.description  82807 non-null  object
 18  city_name            82807 non-null  object
 19  rain.1h              5710 non-null   float64
dtypes: float64(14), object(6)
memory usage: 12.6+ MB
None
(82807, 20)

In [8]:
print(df4.info())
print(df4.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97238 entries, 0 to 97237
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   visibility           97235 non-null  float64
 1   datetime             97238 non-null  object
 2   main.temp            97238 non-null  float64
 3   main.feels_like      97238 non-null  float64
 4   main.temp_min        97238 non-null  float64
 5   main.temp_max        97238 non-null  float64
 6   main.pressure        97238 non-null  float64
 7   main.humidity        97238 non-null  float64
 8   main.sea_level       97238 non-null  float64
 9   main.grnd_level      97238 non-null  float64
 10  wind.speed           97238 non-null  float64
 11  wind.deg             97238 non-null  float64
 12  wind.gust            81716 non-null  float64
 13  clouds.all           97238 non-null  float64
 14  sys.sunrise          97238 non-null  object
 15  sys.sunset           97238 non-null  object
 16  weather.main         97238 non-null  object
 17  weather.description  97238 non-null  object
 18  city_name            97238 non-null  object
 19  rain.1h              2197 non-null   float64
dtypes: float64(14), object(6)
memory usage: 14.8+ MB
None
(97238, 20)

In [9]:
city = 'Iloilo City'
city_data1 = df1[df1['city_name'] == city]
city_data2 = df2[df2['city_name'] == city]
city_data3 = df3[df3['city_name'] == city]  
city_data4 = df4[df4['city_name'] == city]

In [12]:
print(city_data1.head(5))
print(city_data1.info())
print(city_data1.shape)

     visibility                   datetime  main.temp  main.feels_like  \
59      10000.0  2025-01-01 00:07:53+08:00      24.78            25.64
197     10000.0  2025-01-01 02:07:53+08:00      24.70            25.58
335     10000.0  2025-01-01 04:07:50+08:00      24.80            25.66
473     10000.0  2025-01-01 06:07:52+08:00      24.67            25.54
611     10000.0  2025-01-01 08:07:55+08:00      25.95            25.95

     main.temp_min  main.temp_max  main.pressure  main.humidity  \
59           24.78          24.78         1010.0           89.0
197          24.70          24.70         1009.0           90.0
335          24.80          24.80         1009.0           89.0
473          24.67          24.67         1009.0           90.0
611          25.95          25.95         1011.0           87.0

     main.sea_level  main.grnd_level  wind.speed  wind.deg  wind.gust  \
59           1010.0           1009.0        3.43       5.0       7.88
197          1009.0           1007.0        4.00      12.0       8.67
335          1009.0           1007.0        3.46      19.0       6.98
473          1009.0           1008.0        3.71      21.0       7.12
611          1011.0           1009.0        5.16      29.0       7.91

     clouds.all                sys.sunrise                 sys.sunset  \
59         91.0  2025-01-01 06:07:54+08:00  2025-01-01 17:38:16+08:00
197        94.0  2025-01-01 06:07:54+08:00  2025-01-01 17:38:16+08:00
335       100.0  2025-01-01 06:07:54+08:00  2025-01-01 17:38:16+08:00
473       100.0  2025-01-01 06:07:54+08:00  2025-01-01 17:38:16+08:00
611        86.0  2025-01-01 06:07:54+08:00  2025-01-01 17:38:16+08:00

    weather.main weather.description    city_name  rain.1h
59        Clouds     overcast clouds  Iloilo City      NaN
197       Clouds     overcast clouds  Iloilo City      NaN
335       Clouds     overcast clouds  Iloilo City      NaN
473       Clouds     overcast clouds  Iloilo City      NaN
611       Clouds     overcast clouds  Iloilo City      NaN
<class 'pandas.core.frame.DataFrame'>
Index: 375 entries, 59 to 51671
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   visibility           375 non-null    float64
 1   datetime             375 non-null    object
 2   main.temp            375 non-null    float64
 3   main.feels_like      375 non-null    float64
 4   main.temp_min        375 non-null    float64
 5   main.temp_max        375 non-null    float64
 6   main.pressure        375 non-null    float64
 7   main.humidity        375 non-null    float64
 8   main.sea_level       375 non-null    float64
 9   main.grnd_level      375 non-null    float64
 10  wind.speed           375 non-null    float64
 11  wind.deg             375 non-null    float64
 12  wind.gust            375 non-null    float64
 13  clouds.all           375 non-null    float64
 14  sys.sunrise          375 non-null    object
 15  sys.sunset           375 non-null    object
 16  weather.main         375 non-null    object
 17  weather.description  375 non-null    object
 18  city_name            375 non-null    object
 19  rain.1h              18 non-null     float64
dtypes: float64(14), object(6)
memory usage: 61.5+ KB
None
(375, 20)

In [13]:
print(city_data2.head(5))
print(city_data2.info())
print(city_data2.shape)

     visibility                   datetime  main.temp  main.feels_like  \
59      10000.0  2025-02-01 00:07:54+08:00      25.82            26.57
197     10000.0  2025-02-01 02:06:37+08:00      25.46            26.23
335     10000.0  2025-02-01 04:07:47+08:00      24.76            25.54
473     10000.0  2025-02-01 06:05:41+08:00      24.58            25.37
611     10000.0  2025-02-01 08:07:51+08:00      26.40            26.40

     main.temp_min  main.temp_max  main.pressure  main.humidity  \
59           25.82          25.82         1009.0           81.0
197          25.46          25.46         1008.0           83.0
335          24.76          24.76         1008.0           86.0
473          24.58          24.58         1009.0           87.0
611          26.40          26.40         1010.0           79.0

     main.sea_level  main.grnd_level  wind.speed  wind.deg  wind.gust  \
59           1009.0           1008.0        5.66      32.0       9.66
197          1008.0           1007.0        5.19      33.0       9.50
335          1008.0           1006.0        4.27      16.0       8.07
473          1009.0           1008.0        4.74      18.0       8.59
611          1010.0           1009.0        5.71      29.0       8.62

     clouds.all                sys.sunrise                 sys.sunset  \
59         75.0  2025-02-01 06:13:11+08:00  2025-02-01 17:53:24+08:00
197        68.0  2025-02-01 06:13:11+08:00  2025-02-01 17:53:24+08:00
335        98.0  2025-02-01 06:13:11+08:00  2025-02-01 17:53:24+08:00
473        76.0  2025-02-01 06:13:11+08:00  2025-02-01 17:53:24+08:00
611        78.0  2025-02-01 06:13:11+08:00  2025-02-01 17:53:24+08:00

    weather.main weather.description    city_name  rain.1h
59        Clouds       broken clouds  Iloilo City      NaN
197       Clouds       broken clouds  Iloilo City      NaN
335       Clouds     overcast clouds  Iloilo City      NaN
473       Clouds       broken clouds  Iloilo City      NaN
611       Clouds       broken clouds  Iloilo City      NaN
<class 'pandas.core.frame.DataFrame'>
Index: 387 entries, 59 to 53089
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   visibility           387 non-null    float64
 1   datetime             387 non-null    object
 2   main.temp            387 non-null    float64
 3   main.feels_like      387 non-null    float64
 4   main.temp_min        387 non-null    float64
 5   main.temp_max        387 non-null    float64
 6   main.pressure        387 non-null    float64
 7   main.humidity        387 non-null    float64
 8   main.sea_level       387 non-null    float64
 9   main.grnd_level      387 non-null    float64
 10  wind.speed           387 non-null    float64
 11  wind.deg             387 non-null    float64
 12  wind.gust            387 non-null    float64
 13  clouds.all           387 non-null    float64
 14  sys.sunrise          387 non-null    object
 15  sys.sunset           387 non-null    object
 16  weather.main         387 non-null    object
 17  weather.description  387 non-null    object
 18  city_name            387 non-null    object
 19  rain.1h              18 non-null     float64
dtypes: float64(14), object(6)
memory usage: 63.5+ KB
None
(387, 20)

In [14]:
print(city_data3.head(5))
print(city_data3.info())
print(city_data3.shape)

     visibility                   datetime  main.temp  main.feels_like  \
59      10000.0  2025-03-01 00:01:51+08:00      25.14            25.90
330     10000.0  2025-03-01 01:57:10+08:00      24.67            25.46
466     10000.0  2025-03-01 03:01:56+08:00      24.74            25.49
602     10000.0  2025-03-01 04:00:34+08:00      24.69            25.46
738     10000.0  2025-03-01 05:02:12+08:00      24.53            25.31

     main.temp_min  main.temp_max  main.pressure  main.humidity  \
59           25.14          25.14         1012.0           84.0
330          24.67          24.67         1011.0           87.0
466          24.74          24.74         1011.0           85.0
602          24.69          24.69         1010.0           86.0
738          24.53          24.53         1011.0           87.0

     main.sea_level  main.grnd_level  wind.speed  wind.deg  wind.gust  \
59           1012.0           1011.0        7.04       9.0      11.52
330          1011.0           1010.0        6.77      16.0      11.53
466          1011.0           1009.0        6.66      17.0      11.76
602          1010.0           1009.0        6.48      19.0      11.71
738          1011.0           1009.0        6.77      18.0      12.31

     clouds.all                sys.sunrise                 sys.sunset  \
59        100.0  2025-03-01 06:04:48+08:00  2025-03-01 17:59:56+08:00
330        98.0  2025-03-01 06:04:48+08:00  2025-03-01 17:59:56+08:00
466       100.0  2025-03-01 06:04:48+08:00  2025-03-01 17:59:56+08:00
602       100.0  2025-03-01 06:04:48+08:00  2025-03-01 17:59:56+08:00
738       100.0  2025-03-01 06:04:48+08:00  2025-03-01 17:59:56+08:00

    weather.main weather.description    city_name  rain.1h
59        Clouds     overcast clouds  Iloilo City      NaN
330       Clouds     overcast clouds  Iloilo City      NaN
466       Clouds     overcast clouds  Iloilo City      NaN
602       Clouds     overcast clouds  Iloilo City      NaN
738       Clouds     overcast clouds  Iloilo City      NaN
<class 'pandas.core.frame.DataFrame'>
Index: 590 entries, 59 to 82729
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   visibility           590 non-null    float64
 1   datetime             590 non-null    object
 2   main.temp            590 non-null    float64
 3   main.feels_like      590 non-null    float64
 4   main.temp_min        590 non-null    float64
 5   main.temp_max        590 non-null    float64
 6   main.pressure        590 non-null    float64
 7   main.humidity        590 non-null    float64
 8   main.sea_level       590 non-null    float64
 9   main.grnd_level      590 non-null    float64
 10  wind.speed           590 non-null    float64
 11  wind.deg             590 non-null    float64
 12  wind.gust            590 non-null    float64
 13  clouds.all           590 non-null    float64
 14  sys.sunrise          590 non-null    object
 15  sys.sunset           590 non-null    object
 16  weather.main         590 non-null    object
 17  weather.description  590 non-null    object
 18  city_name            590 non-null    object
 19  rain.1h              43 non-null     float64
dtypes: float64(14), object(6)
memory usage: 96.8+ KB
None
(590, 20)

In [15]:
print(city_data4.head(5))
print(city_data4.info())
print(city_data4.shape)

     visibility                   datetime  main.temp  main.feels_like  \
59      10000.0  2025-04-01 00:01:47+08:00      24.75            25.42
194     10000.0  2025-04-01 01:01:51+08:00      24.51            25.16
332     10000.0  2025-04-01 02:01:49+08:00      24.49            25.14
468     10000.0  2025-04-01 03:01:54+08:00      24.24            24.86
605     10000.0  2025-04-01 04:01:55+08:00      24.06            24.71

     main.temp_min  main.temp_max  main.pressure  main.humidity  \
59           24.75          24.75         1010.0           82.0
194          24.51          24.51         1009.0           82.0
332          24.49          24.49         1009.0           82.0
468          24.24          24.24         1009.0           82.0
605          24.06          24.06         1009.0           84.0

     main.sea_level  main.grnd_level  wind.speed  wind.deg  wind.gust  \
59           1010.0           1009.0        3.21      26.0       5.62
194          1009.0           1008.0        3.31      24.0       5.67
332          1009.0           1008.0        3.28      18.0       6.02
468          1009.0           1007.0        3.22      13.0       6.54
605          1009.0           1007.0        3.51       9.0       7.53

     clouds.all                sys.sunrise                 sys.sunset  \
59         94.0  2025-04-01 05:46:47+08:00  2025-04-01 18:00:23+08:00
194        95.0  2025-04-01 05:46:47+08:00  2025-04-01 18:00:23+08:00
332        48.0  2025-04-01 05:46:47+08:00  2025-04-01 18:00:23+08:00
468       100.0  2025-04-01 05:46:47+08:00  2025-04-01 18:00:23+08:00
605       100.0  2025-04-01 05:46:47+08:00  2025-04-01 18:00:23+08:00

    weather.main weather.description    city_name  rain.1h
59        Clouds     overcast clouds  Iloilo City      NaN
194       Clouds     overcast clouds  Iloilo City      NaN
332       Clouds    scattered clouds  Iloilo City      NaN
468       Clouds     overcast clouds  Iloilo City      NaN
605       Clouds     overcast clouds  Iloilo City      NaN
<class 'pandas.core.frame.DataFrame'>
Index: 698 entries, 59 to 97161
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   visibility           698 non-null    float64
 1   datetime             698 non-null    object
 2   main.temp            698 non-null    float64
 3   main.feels_like      698 non-null    float64
 4   main.temp_min        698 non-null    float64
 5   main.temp_max        698 non-null    float64
 6   main.pressure        698 non-null    float64
 7   main.humidity        698 non-null    float64
 8   main.sea_level       698 non-null    float64
 9   main.grnd_level      698 non-null    float64
 10  wind.speed           698 non-null    float64
 11  wind.deg             698 non-null    float64
 12  wind.gust            698 non-null    float64
 13  clouds.all           698 non-null    float64
 14  sys.sunrise          698 non-null    object
 15  sys.sunset           698 non-null    object
 16  weather.main         698 non-null    object
 17  weather.description  698 non-null    object
 18  city_name            698 non-null    object
 19  rain.1h              14 non-null     float64
dtypes: float64(14), object(6)
memory usage: 114.5+ KB
None
(698, 20)

In [20]:
January = city_data1.drop(columns=['sys.sunrise', 'sys.sunset', 'main.sea_level', 'main.grnd_level', 'weather.description', 'wind.gust', 'wind.deg'])
February = city_data2.drop(columns=['sys.sunrise', 'sys.sunset', 'main.sea_level', 'main.grnd_level', 'weather.description', 'wind.gust', 'wind.deg'])
March = city_data3.drop(columns=['sys.sunrise', 'sys.sunset', 'main.sea_level', 'main.grnd_level', 'weather.description', 'wind.gust', 'wind.deg'])
April = city_data4.drop(columns=['sys.sunrise', 'sys.sunset', 'main.sea_level', 'main.grnd_level', 'weather.description', 'wind.gust', 'wind.deg'])

In [21]:
print(January.head(5))

     visibility                   datetime  main.temp  main.feels_like  \
59      10000.0  2025-01-01 00:07:53+08:00      24.78            25.64
197     10000.0  2025-01-01 02:07:53+08:00      24.70            25.58
335     10000.0  2025-01-01 04:07:50+08:00      24.80            25.66
473     10000.0  2025-01-01 06:07:52+08:00      24.67            25.54
611     10000.0  2025-01-01 08:07:55+08:00      25.95            25.95

     main.temp_min  main.temp_max  main.pressure  main.humidity  wind.speed  \
59           24.78          24.78         1010.0           89.0        3.43
197          24.70          24.70         1009.0           90.0        4.00
335          24.80          24.80         1009.0           89.0        3.46
473          24.67          24.67         1009.0           90.0        3.71
611          25.95          25.95         1011.0           87.0        5.16

     clouds.all weather.main    city_name  rain.1h
59         91.0       Clouds  Iloilo City      NaN
197        94.0       Clouds  Iloilo City      NaN
335       100.0       Clouds  Iloilo City      NaN
473       100.0       Clouds  Iloilo City      NaN
611        86.0       Clouds  Iloilo City      NaN